# App Environment Variables
APP_PORT=8000
APP_VERSION=1.0
APP_NAME="HyaUp Backend API"
APP_DESCRIPTION="HyaUp Backend API - Allows for interaction with Frontend and AI Service."

# Firebase Configurations
GOOGLE_APPLICATION_CREDENTIALS="serviceAccount.json"

# Database Configuration
DATABASE_URL="postgresql+asyncpg://user:password@localhost:5432/dbname"